html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#adContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#headline {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  opacity: 0;
}

#description {
  font-family: 'Roboto', Arial, sans-serif;
  opacity: 0;
}

#product-image {
  opacity: 0;
}

#button {
  border-radius: 50%;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,.4);
  text-shadow:1px 1px 0 rgba(255,255,255,0.1);
  display: block;
  opacity: 0;
}

#color-slot1 {
  position: absolute;
}

#color-slot2 {
  position: absolute;
}

[data-variation='tower'] #headline {
  text-align: center;
}

[data-variation='tower'] #description {
  text-align: center;
}

/* desktop animations */
[data-variation]:not([data-variation*='small']) #headline {
  -webkit-animation: text_keyframes .6s both;
  animation: text_keyframes .6s both;
}

[data-variation]:not([data-variation*='small']) #description {
  -webkit-animation: text_keyframes .6s both .3s;
  animation: text_keyframes .6s both .3s;
}

[data-variation]:not([data-variation*='small']) #product-image {
  -webkit-animation: fadein_keyframes 1.6s both;
  animation: fadein_keyframes 1.6s both;
}

[data-variation]:not([data-variation*='small']) #button {
  -webkit-animation: fadein_keyframes .8s both .8s;
  animation: fadein_keyframes .8s both .8s;
}

#adContent[data-variation]:not([data-variation*='small']),
#adContent[data-variation]:not([data-variation*='small']) > * {
  -webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
}

@-webkit-keyframes
fadein_keyframes{
    0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes
fadein_keyframes {
   0% {opacity: 0;}
 100% {opacity: 1;}
}

@-webkit-keyframes
text_keyframes {
    0% {opacity: 0; -webkit-transform: translateY(-20%);}
  100% {opacity: 1;}
}

@keyframes
text_keyframes {
    0% {opacity: 0; transform: translateY(-20%);}
  100% {opacity: 1;}
}

/* mobile animation */
[data-variation*='small'] #headline {
  -webkit-animation: small_l1_keyframes 3.75s ease-in-out 4 alternate both;
  animation: small_l1_keyframes 3.75s ease-in-out 4 alternate forwards;
}

[data-variation*='small'] #description {
  -webkit-animation: small_l2_keyframes 3.75s ease-in-out 4 alternate both;
  animation: small_l2_keyframes 3.75s ease-in-out 4 alternate both;
}

#adContent[data-variation*='small'],
#adContent[data-variation*='small'] > * {
  opacity: 1;
}

@-webkit-keyframes
small_l1_keyframes {
   0%, 44% {opacity: 1; -webkit-transform: translateY(0);}
  56%,100% {opacity: 0; -webkit-transform: translateY(-30px);}
}

@keyframes
small_l1_keyframes {
   0%, 44% {opacity: 1; transform: translateY(0);}
  56%,100% {opacity: 0; transform: translateY(-30px);}
}

@-webkit-keyframes
small_l2_keyframes {
   0%, 44% {opacity: 0; -webkit-transform: translateY(30px);}
  56%,100% {opacity: 1; -webkit-transform: translateY(0);}
}

@keyframes
small_l2_keyframes {
   0%, 44% {opacity: 0; transform: translateY(30px);}
  56%,100% {opacity: 1; transform: translateY(0);}
}
